# Travis CI (http://travis-ci.org/) is a continuous integration service for
# open source projects. This file configures it to run unit tests for
# goki.

language: go

go:
    - 1.6
    - 1.7
    - tip

install:
    - go get -d -t -v ./...
    - go build -v ./...

script:
    - go test -v ./...
